<style type="text/css">
    /* there are only <h1> and <h2>, size them like <h2> and <h3> */
    h1{font-size: 1.5em; margin-top: 0.83em; margin-bottom: 0.67em;}
    h2{font-size: 1.17em; margin-top: 1em; margin-bottom: 0.83em;}
</style>
